body {
  background-color: #212A33;
  margin: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-content: stretch;
}

h1, h2, h3, h4, h5, h6, p {
  color: #FFFFFF;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.creature-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  border: 5px dashed white;
}

.creature-content .creature-image-container {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  border: 5px dotted green;
}

.creature-content .creature-image-container img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border: 5px dotted red;
}

.creature-content .text {
  flex: 1 1 60%;
}

.footer {
}
