h1, h2, h3, h4, h5, h6, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.separator {
    background-color: rgb(0, 255, 255, 60%);
}

.page_title_section .separator_holder {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.page_title_section .separator {
    width: 30%;
    height: 100%;
}

.page_title_section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8px 0.55fr 0.45fr;
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
    padding: 10px;
}

.page_title {
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 700;
}

.page_subtitle {
    font-size: 1.4rem;
    font-weight: 500;
}

.page_title,.page_subtitle {
    text-align: center;
}

.page_subtitle {
    font-weight: lighter;
    font-style: italic;
}

.dossier {

    margin: 0 auto 0 auto;
    padding: 30px 0 30px 0;
    width: 95vh;
    display: grid;
    grid-template-columns: minmax(0, 0.60fr) minmax(0, 0.40fr);
}

.dossier .image_container {
    background-color: rgb(196, 196, 196, 70%);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dossier .image_container img {
    max-width: 100%;
}

.infocard {
    padding: 10px;
    background-color: rgb(51, 64, 77, 100%);
    display: grid;
    grid-auto-flow: row;
    grid-gap: 10px;
}

#creature_category {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

#creature_category h3 {
    font-weight: lighter;
    /*font-size: 16px;*/
    font-size: 1.6vh;
}

#creature_category h4 {
    font-weight: 700;
    /*font-size: 48px;*/
    font-size: 3.8vh;
}

.infocard_item_header {
    display: grid;
    grid-template-rows: 70fr 30fr;
}

.infocard_item_header h3 {
    font-size: 2.4vh;
}

.infocard_item_header .separator_holder {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 7px;
    height: 0.5vh;
    width: 60%;
}

.infocard_item_header .separator {
    height: 100%;
    width: 100%;
}

#creature_stats .stat_grid {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-auto-flow: column;
    /*grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;*/
    grid-row-gap: 1rem;
}

#creature_stats .stat_grid_item {
    padding: 2px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
}

#creature_stats .stat_grid_item h4 {
    font-size: 1.8vh;
}

#creature_stats .stat_grid_item h5 {
    font-weight: 500;
    font-size: 2.4vh;
}

.damage_types {
    margin-top: 10px;
    display: flex;
    flex-flow: column;
}

.damage_type {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: minmax(4vh, 4vh) minmax(2.1vh, 2.1vh) 1fr;
    grid-gap: 2px;
    align-items: center;
    font-size: 3vh;
    font-style: normal;
}

.damage_type span {
    font-size: 100%;
    text-align: center;
}

.damage_type h6 {
    text-align: left;
    font-size: 2.6vh;
    font-weight: lighter;
}

.damage_type_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 5px;*/
}

.damage_type_image_container img {
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.behaviours {
    margin-top: 10px;

    display: grid;
    grid-template-rows: repeat(4, 3vh);
    grid-gap: 10px;
}

.behaviour {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

}

.behaviour h4 {
    font-size: 2vh;
}

.behaviour h5 {
    font-size: 1.8vh;
    font-weight: lighter;
}

.behaviour img {
    object-fit: contain;
    max-width: 2.5vh;
}

.segment_container {
    position: relative;
}

.dossier, .page_title_section {
    position: relative;
}

.segment_container::before {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
}

#creature_description::before {
    background-image: url("bg/submarine-creature-wallpaper-2.jpg");
}

#creature_characteristics::before {
    background-image: url("http://images.gamersyde.com/image_barotrauma-40034-4215_0003.jpg");
}

#creature_description {
    /*height: 20em;*/
}

#creature_characteristics {
    /*height: 20em;*/
}

.segment_content {
    position: relative;

    min-width: 70vh;
    max-width: 70vw;
    padding: 20px;
    margin-right: auto;
}

.segment_header {
    /*font-size: 1.7rem;*/
    font-size: 2.9vh;
    margin-block-end: 0.6em;
}

.segment_header .separator_holder{
    padding-top: 5px;
    width: 150px;
    height: 1.5vh;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.segment_header .separator{
    width: 100%;
    height: 100%;
}

.segment_text {
    font-size: 2.1vh;
    text-align: left;
    line-height: 1.45em;
}


